body{
    color: #616161;
}
a{
    text-decoration: none;
    color:#004E95
}
.alpha{
    width: 30%;
    display: inline-block;
    height:100%;
    color:white;
    margin-bottom:-10%
}
.alpha>h1{
    padding-left:30px;
    padding-top:20px;
}
.alpha>input{
    width:400px;
    padding-left:30px;
    padding-top:20px;
    text-align:left;
}

button{
    width: 250px;
    height: 50px;
    border:none;
    margin:12px 12px 0px 0px;
    padding: 12px 12px 12px 60px;
    color: #1f1f1f;
}
.beta{
    height:30px;
    width:100px;
    border: 0px;
    text-align: center;
}
#gamma{
    background-color: inherit;
    position: relative;
    display: block;
    cursor: default;
}
#Add{
 
    width: 100%;
    height:150px;
    
}
#Add>h4{
   border: 1px solid #004E95;
   width:15%;
   height:30px;
   margin-left: 40%;
   margin-top: 45px;
   border-radius: 5px;
   text-align: center;
   padding: 5px;
}
#sifat{
    width: 90%;
    height: 310px;
    border: 2px solid blue;
    margin: auto;
}
#sifat>img{
    padding: 20px;
}
#sifat>h2{
    margin-left: 150px;
    margin-top: -100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#num{
    width: 300px;
    height: 40px;
    margin-left: 150px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0px;
    
}
#sifat>button{
    background-color: rgb(244, 244, 15);
    cursor: pointer;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;

}
#raaz{
    margin-left: 35px;
    margin-top: 20px;
    /* border: 1px solid black; */
    width: 305px;
    height: 40px;
}
#raaz>p{
    margin-top: -30px;
    margin-left: 25px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#raz{
    margin-left: 370px;
    margin-top: -40px;
    /* border: 1px solid black; */
    width: 250px;
    height: 40px;

}
#raz>p{
    margin-top: -30px;
    margin-left: 25px;
    color: black;
     font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    

}
#rz{
    margin-left: 640px;
    margin-top: -42px;
    /* border: 1px solid black; */
    width: 180px;
    height: 40px;
}
#rz>p{
    margin-top: -30px;
    margin-left: 25px;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#eh{
    height: 210px;
    width: 180px;
    border: 1px solid black;
    margin-left: 900px;
    margin-top: -190px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: 0px;
    color: black;
    font-weight: bold;
}
#con{
    margin-left: 75%;
}
#left{
    margin-left: 250px;
    margin-bottom: 150px;
}
#one{
    display: flex;
     font-weight: 700;
}
#one-1{
 margin-bottom: 100px;
 
}
#one-2{
    font-weight: 700;
    width:300px;
    height: 400px;
}
.one>p{
    text-decoration-color: #1f1f1f;
}